$main-dark: #28323c;
$white: white;
$gray1: #5a646e;
$gray2: #78828c;
$gray3: #96a0aa;
$gray4: #b5bdc8;
$gray5: #e4e4e4;
$bg-gray: #f3f5f7;
$primary: #285b7d;
$secondary: #b4be28;
$accent-pink: #ff025a;
$accent-aquamarine: #04999a;
